<style>
    body {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
    }
    .header, .footer {
        width: 100%;
        text-align: center;
        position: fixed;
    }
    .header {
        top: 0px;
        text-decoration: underline;
    }
    .footer {
        bottom: 0px;
        font-size: 12px;
    }
    .container {
        margin: 50px;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table th {
        background-color: #f2f2f2;
        text-align: left;
    }
    .details-table td {
        padding: 10px;
        width: 25%;
    }
    .details-table {
        margin-top: 20px;
        padding-top: 50px;
    }
    strong {
        font-size: large;
    }
    .totals-table {
        margin-top: 10px;
        padding-top: 20px;
    }

</style>
<body>
    {% if data %}
        {% set invoice_basic_info = data[0] %}
    {% endif %}

     {% if filters['party_type'] == 'Supplier' %}
            {% set items = data[0]['items'] %}
            {% set commissions = data[0]['commissions'] %}
            {% set is_supplier = true %}
    {% else %}
            {% set items = data %}
            {% set is_supplier = false %}
    {% endif %}
<div class="container">
    <!-- Main Content -->
    <!--Header-->
    <div class="header">
        <h1>
            Invoice Form
        </h1>
    </div>
    <!-- Invoice Details -->
    <table class="details-table">
        <tr>
            <td><strong>Invoice No: </strong> {{ invoice_basic_info.name }} </td>
            <td><strong>
                {% if filters['party_type'] == 'Supplier' %} Supplier: {% else %} Customer: {% endif %}
            </strong> {% if filters['party_type'] == 'Supplier' %}
                    {{ invoice_basic_info.supplier }}
                {% else %}
                    {{ invoice_basic_info.customer }}
                {% endif %} </td>

        </tr>
        <tr>
            <td><strong>Company: </strong> {{ invoice_basic_info.company }} </td>
            <td><strong>Posting Date: </strong>{{ invoice_basic_info.posting_date }}</td>
        </tr>
    </table>
    <hr>
    <!-- Items Table -->
    <h2> Items </h2>
    <table class="table">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            {% if is_supplier %}
                <th>Commission</th>
                <th>Customer</th>
                <th>Pamper</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
            {% if is_supplier %}
                <td>{{ item.commission }}</td>
                <td>{{ item.customer }}</td>
                <td>{{ item.pamper }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_supplier %}
     <!-- Commissions Table -->
        <hr>
        <h2> Commissions </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Commission %</th>
                <th>Taxes %</th>
                <th>Line Total</th>
            </tr>
            </thead>
            <tbody>
            {% for row in commissions %}
            <tr>
                <td>{{ row.item }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.commission }}</td>
                <td>{{ row.taxes }}</td>
                <td>{{ row.commission_total }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <hr>
    <!--Totals-->
    <table class="totals-table">
        <tr>
            <td><strong>Grand Total: </strong> {{ invoice_basic_info.grand_total }} </td>
        </tr>
    </table>
    {% endif %}

</div>
<!-- Footer -->
<div class="footer">
    <p>Generated by Frappe | {{ frappe.utils.formatdate(frappe.utils.nowdate()) }}</p>
</div>


</body>
