<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ layout_direction }}">
<style>
    body {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
    }
    .header, .footer {
        width: 100%;
        text-align: center;
        position: fixed;
    }
    .header {
        top: 0px;
        text-decoration: underline;
    }
    .footer {
        bottom: 0px;
        font-size: 12px;
    }
    .container {
        margin: 50px;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table th {
        background-color: #f2f2f2;
    }
    .details-table td {
        padding: 10px;
        width: 25%;
    }
    .details-table {
        margin-top: 20px;
        padding-top: 50px;
    }
    strong {
        font-size: large;
    }
    .totals-table {
        margin-top: 10px;
        padding-top: 20px;
    }

</style>
<body>
    {% if layout_direction == 'rtl' %}
        {% set is_rtl = true %}
    {% else %}
        {% set is_rtl = false %}
    {% endif %}
    {% set is_supplier = false %}
    {% set is_customer = false %}
    {% set is_pamper = false %}

    {% if data %}
        {% set invoice_basic_info = data[0] %}
    {% endif %}

     {% if filters['party_type'] == 'Supplier' %}
        {% set items = data[0]['items'] %}
        {% set commissions = data[0]['commissions'] %}
        {% set is_supplier = true %}
        {% set is_customer = false %}
        {% set is_pamper = false %}
    {% else %}
        {% set items = data %}
        {% set is_supplier = false %}
        {% if filters['customer_type'] == 'Customer' %}
            {% set is_customer = true %}
            {% set is_pamper = false %}
        {% else %}
            {% set is_customer = false %}
            {% set is_pamper = true %}
        {% endif %}
    {% endif %}
<div class="container">
    <!-- Main Content -->
    <!--Header-->
    <div class="header">
        <h1>
            {% if is_rtl %} نموذج الفاتورة {% else %} Invoice Form {% endif %}
        </h1>
    </div>
    <!-- Invoice Details -->
    <table class="details-table">
        <tr>
            <td> <strong>
                {% if is_rtl %} رقم الفاتورة: {% else %} Invoice No: {% endif %}
            </strong> {{ invoice_basic_info.name }} </td>
            <td><strong>
                {% if is_rtl %}
                    {% if is_supplier %} المورد:
                {% else %}
                    {% if is_customer %}
                        العميل:
                    {% else %}
                        الدلال:
                    {% endif %}
                {% endif %}

                {% else %}
                    {% if is_supplier %} Supplier:
                {% else %}
                    {% if is_customer %}
                        Customer:
                    {% else %}
                        Pamper:
                    {% endif %}
                {% endif %}

                {% endif %}
            </strong> {{ filters['party'] }} </td>
        </tr>
        <tr>
            <td><strong> {% if is_rtl%} الشركة: {% else %} Company: {% endif %}</strong>
                {{invoice_basic_info.company }}
            </td>
            <td><strong> {% if is_rtl %} التاريخ: {% else %} Posting Date: {% endif %} </strong>
                {{ invoice_basic_info.posting_date }}</td>
        </tr>
        {% if is_pamper %}
            <tr>
                <td><strong>
                    {% if is_rtl %} المورد: {% else %} Supplier: {% endif %}
                </strong> {{ invoice_basic_info.supplier }} </td>
                <td><strong>
                    {% if is_rtl %} العميل: {% else %} Customer: {% endif %}
                </strong>{{ invoice_basic_info.inv_customer }}</td>
            </tr>
        {% endif %}
    </table>
    <hr>
    <!-- Items Table -->
    <h2> {% if is_rtl %} الأصناف {% else %} Items {% endif %} </h2>
    <table class="table">
        <thead>
        <tr>
            {% if is_rtl %}
                <th>الصنف</th>
                <th>الكمية</th>
                <th>السعر</th>
                <th>الإجمالي</th>
                {% if is_supplier %}
                    <th>العمولة</th>
                {% endif %}
            {% else %}
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                {% if is_supplier %}
                    <th>Commission</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
            {% if is_supplier %}
                <td>{{ item.commission }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_supplier %}
     <!-- Commissions Table -->
        <hr>
        <h2> {% if is_rtl %} العمولات {% else %} Commissions {% endif %} </h2>
        <table class="table">
            <thead>
            <tr>
                {% if is_rtl %}
                    <th>الصنف</th>
                    <th>السعر</th>
                    <th>العموله %</th>
                    <th>الضرائب %</th>
                    <th>الإجمالي</th>
                {% else %}
                    <th>Item</th>
                    <th>Price</th>
                    <th>Commission %</th>
                    <th>Taxes %</th>
                    <th>Line Total</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for row in commissions %}
            <tr>
                <td>{{ row.item }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.commission }}</td>
                <td>{{ row.taxes }}</td>
                <td>{{ row.commission_total }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <hr>
    <!--Totals-->
    <table class="totals-table">
        <tr>
            <td><strong> {% if is_rtl %} إجمالي الفاتورة: {% else %} Grand Total: {% endif %} </strong>
                {{ invoice_basic_info.grand_total }} </td>
        </tr>
    </table>
    {% endif %}

</div>
<!-- Footer -->
<div class="footer">
    <p>Generated by Frappe | {{ frappe.utils.formatdate(frappe.utils.nowdate()) }}</p>
</div>
</body>
